POSTGRES_DB=football_app
POSTGRES_USER=postgres
POSTGRES_PASSWORD=nikola

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/football_app
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=nikola
